
.header-container {
  background-image: url(Pokemon-Backgrounds-High-Quality.png);
  background-size: cover;
  background-position: center;
  padding: 90px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(203, 209, 207, 0);
}




  
  
  
  nav {
    display: flex;
    justify-content: center;
    
  }
  
  nav h1 {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
    font-family: sans-serif;
   
    padding: 5px 10px;
  }
  
  nav h1:hover {
    color: #078f1e;
    transition: 0.2s ease-in-out;
  }
  
 



  /* c.css */
body {
  background-color: rgb(49, 81, 221);
  
}

footer {
  background-color: rgba(255, 10, 10, 0.788);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 10px 0px 10px;
    width: 100%;
    bottom: 0;
    
  
}

.form-inline {
  
  position: fixed;
  background-position: center;

}
















 
 





 
